
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'eurofurence';
  font-style: normal;
  font-weight: 400;
  src: url('./eurof35.ttf')
}

* {
  margin: 0;
  padding: 0;
}

html, body, h3, h5{
  font-family: 'eurofurence', "Raleway", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #333333;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/background.png);
}

.center{
  text-align: center;
}


.justify{
  text-align: justify;
}



.splash-wrap{
  width: 550px;
  overflow: visible;
  visibility: hidden;
}

.content{
  width: 100%;
  background-color: rgba(0,0,0,.6);
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url(../img/highlight.png);
  background-repeat: no-repeat;
  border: 1px solid #333;
}


.headline h3{
  color: #7B746E;
  font-size: 44px;
  margin-top: 60px;
}


.headline h5{
  color: whitesmoke;
  font-size: 18px;
}

.headline h5 span{
  display: inline;
}




.beta{
  margin-top: 25px;
}

.beta .inputs, .beta button, .beta .alert{
  width: 440px;
  margin: 0 auto;
}

.beta input, .beta button, .beta .customSelect, .beta .alert{
  border-radius: 0px !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  height: 46px;
  border: none !important;
  color: whitesmoke !important;
  font-size: 16px;
  outline: none !important;
  box-shadow: none !important;
}

.beta input:focus{
  outline: none !important;
  box-shadow: none !important;
}



.beta input{
  margin: 0 auto !important;
  background-color: rgba(71, 69, 65,.6) !important;
  padding: 14px 12px !important;
  width: 213px;
  float: left;
}


input::-webkit-input-placeholder{
  color: whitesmoke !important;
}


.beta .select-wrap{
  text-align: left;
  width: 213px;
  margin: 0 auto;
  float: right;
}

.customSelect { 
  text-align: left;
  background-color: rgba(71, 69, 65,.6) !important;
  background:#fff url(../img/carrot.png) 95% 22px no-repeat;
  padding: 12px 12px;
  line-height: 1.428571429;
  width: 100%;
}





.beta button{
  margin: 0 auto !important;
  margin-top: 15px !important;
  background-color: rgba(140, 137, 132,.6) !important;
  padding: 14px 12px !important;
}

.beta button:hover{
  background-color: rgba(140, 137, 132,.7) !important;
}

.beta .alert{
  color: #b94a48 !important;
  margin-top: 15px;
  padding: 14px 12px !important;

}



/* Footer */

.footer{
  overflow: auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}

.footer .copy span{
  position: relative;
  top: 0px;
}

.social{
  margin-bottom: 20px;
  margin-top: 20px;
}

.social img{
  margin-left: 5px;
  margin-right: 5px;
  image-rendering: -webkit-optimize-contrast;
}



.social img:hover{
  opacity: .8;
}
